/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/public/js
/public/images
/public/css
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/public/img
/public/mix-manifest.json
package-lock.json
/public/static
/storage/redirect